.containerSlider{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.slide{
    position: relative;
}

.slide>div{
    position: absolute;
}

.slider{
    max-width: 934px;
    height: 553px;
    position: absolute;
    bottom: 0;
    right: 0px;
}

.sliderNav{
    color: #fff;
    background: #E89F71;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 151px;
    z-index: 5;
}

.sliderNavLeft{
    margin-right: 56px;
}

.sliderNav:hover{
    background: #E89F71;
}

.sliderDescr{
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 294px;
    height: 148px;
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(15.5px);
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: space-between;
    font-family: GilroyLight;
    cursor: pointer;
}

.slideDescr1{
    font-family: Gilroy;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;

    color: #3A3A3A;
}

.slideDescr2{
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    color: #616161;
}

.slideDescr3{
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;

    color: #3A3A3A;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1000px) {
    .containerSlider{

    }
    .slider{
        position: relative;
        overflow: clip!important;
        justify-content: center;
    }
    .slider, .image, .slide{
        width: 480px;
        height: 270px;
    }
    .sliderDescr{
        width: 178px;
        height: 90px;
        right: 20px;
        bottom: 20px;
    }
    .slideDescr1{
        font-size: 14px;
    }
    .slideDescr2{
        font-size: 8px;
    }
    .slideDescr3{
        font-size: 8px;
    }
    .sliderNav{
        top:50%;
    }
    .sliderNavLeft{
        left: 0;
    }
    .sliderNavRight{
        right: 0;
    }

}

@media (max-width: 580px) {
    .slider, .image, .slide{
        width: 350px;
        height: 200px;
    }
}